table {
	border: solid;
	border-color: blue;
	height: 800px;
	width: 800px;
}

table td {
	border: solid;
	border-color: blue;
	height: 100px;
	width: 100px;
}

img{
	width: 100px;
	height: 100px;
	padding: 1px;
	
}